@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sliding-images-container {
  display: flex;
  overflow-x: auto;
  animation: slideIn calc(4s * var(--animation-multiplier)) linear infinite;
}

.sliding-image {
  flex-shrink: 0;
  width: 200px;
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * var(--animation-multiplier)));
  }
}

svg.active path {
  fill: #684DEC; 
}

svg.inactive path {
  fill: none; 
  stroke: #7D8588; 
}

.input-container:focus-within .icon-container svg path {
  fill: #684DEC; 
}
